body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: rgb(50, 50, 50);
}

.page-header {
	text-align: center;
}

h1 {
  margin: 0 0 0 0;
  font-size: 48px;
  font-family: 'Raleway', sans-serif;
  color: rgb(70, 70, 70);
  text-shadow: 0px 1px 1px rgba(30, 30, 30, 0.1);

}

h2 {
  margin: 0 0 0 0;
  font-size: 18px;
}

.main-content {
	max-width: 1080px;
	height: 400px;
	margin: 40px auto 0 auto;
}

.main-content-inner-wrapper {
	margin: 0 auto;
	height: 400px;
}

.desc {
	max-width: 400px;
	float: left;
	box-sizing: border-box;
	padding: 10px 20px;
	font-size: 18px;
}

.desc-p {
	text-indent: 10px;
	margin: 10px 5px;
}

.desc-ul {
	padding: 0;
	margin-bottom: 10px;
}

.desc-li {
	list-style: none;
}

.controls {
	height: 100px;
	margin: 0 auto;
}

#new-config-button {
	
}

.chessboard-container {
	float: left;
}

.canvas-container {
	width: 160px;
	height: 160px;
	float: left;
	box-sizing: border-box;
	margin: 20px;
}

#main-canvas {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 5px double rgb(150, 150, 150);
}

@media only screen and (min-width: 720px) { 
	.canvas-container{
		width: 240px;
		height: 240px;
	}
	.desc {
		max-width: 480px;
	}
}

@media only screen and (min-width: 1080px) { 
	.canvas-container{
		width: 320px;
		height: 320px;
	}
	.desc {
		max-width: 720px;
	}
}

.s-bottom {
	margin-top: 60px;
	width: 100%;
}

footer div {
	margin: 0 auto;
	text-align: center;
}
